*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding:10px;
    margin:0px;
}

.red{
    color:red;
}

ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border:black solid 1px;
    border-spacing:0px;
    padding:0px;
}

td {
    border-top:black solid 1px;
    border-left:black solid 1px;
    width:200px;
}

.firstCol{
    border-left:0px;
}

.firstRow td{
    border-top:0px;
}